<div class="list_master container">
  <div class="row">
    <div class="col">
      <div class="card_list text-center"  *ngFor="let event of event_list">
        <br>
        <div class="card">
          <div class="card-body">
            <h4 class="card-header"><u>{{event.title}}</u></h4>
            <p class="card-text">{{event.descritption}}</p>
            <p class="card-text">{{event.dateTimeStart}}</p>
    
            <div class="card-footer">
              <div class="row">
                <div class="col">
                  <button mat-raised-button color="primary" (click)="openEvent(event)">View Event</button> 
                </div>
                <div class="col">
                  <button *ngIf="event.id" mat-raised-button color="warn" (click)="leaveEvent(event)">Leave Event</button> 
                  <button *ngIf="!event.id" mat-raised-button color="primary" (click)="selectEvent(event)">Join Event</button> 
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>