<div>
    

<google-map height="90vh"
            width="100%"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="addMarker($event)"
            (contextmenu)="onRightClick($event)">
  <map-marker #marker="mapMarker"
              *ngFor="let markerPosition of event_list"
              
              [position]="markerPosition.coordinates"
              [title]="markerPosition.title"
              [icon]="svgMarker"
              [options]="markerOptions"
              (mapClick)="openInfoWindow(markerPosition)">
          
            </map-marker> 
</google-map>
</div>